/*.suo
/CloverSrc
/_ReSharper*
/*.resharperoptions
/*.resharper.user
/CloverBuild
/Ankh.Load
/*.resharper
/ConsoleTest
/_UpgradeReport_Files
/NHibernate.userprefs
/NHibernate.usertasks
/UpgradeLog.XML
/UpgradeLog2.XML
/UpgradeLog3.XML
/UpgradeLog4.XML
/UpgradeLog5.XML
/UpgradeLog6.XML
/UpgradeLog7.XML
/UpgradeLog8.XML
/UpgradeLog9.XML
/NHibernate.sln.proj
/NHibernate.sln.AssemblySurfaceCache.user
/NHibernate.sln.cache
/.git
/.gitignore
/NHibernate.5.0.ReSharper.user
/LocalTestRun.testrunconfig
/*.user
